.post
  // title
  h2
    = post.title
    a.edit(href=base + '/post/' + post.id + '/edit') Edit
  
  p
    a(href='/') &laquo; back
  // flash messages
  != messages()
  
  // dates
  p.date.created Created at #{post.createdAt}
  - if (post.updatedAt)
    p.date.updated Updated at #{post.updatedAt}
  
  // body
  p.body
    !{post.rendered_body}